<h1>Apex Login</h1>
<div class="login-form">
    <form #loginForm="ngForm" (ngSubmit)="getLogin(loginForm)">
        <h3>Please Enter Your User Name</h3>
        <div>
            <label for="login">Give Name:</label>
            <input login="login" id="login" ngModel />
            <input
            class="form-check-input"
            type="submit"
            value="{{login.userName}}"
            name="userName"
            ngModel
            />
        </div>
        <!-- <div class="form-check" *ngFor="let login of login"> -->

        <!-- </div> -->
        
    </form>
</div>
<!-- <a [routerLink]="['/rank',login.userName]">Goals</a> -->
