<h1>Apex Tracker Login</h1>
<div class="login-form">
    <form #loginForm="ngForm" (ngSubmit)="getLogin(loginForm)">
        <label for="UserName">username:</label>
        <input type="text" class="form-control" id="UserNameTextBox" placeholder="Enter username" name="UserName" ngModel required/>
        <br>

        <label for="Password">password:</label>
        <input type="text" class="form-control" id="PasswordTextBox" placeholder="Enter password" name="Password" ngModel required/>
        <br>

        <input type="submit">
    </form>   
</div>
<a class="nav-item nav-link" routerLink="/create" 
routerLinkActive="active">Create</a>