<h1>Apex Tracker Login</h1>
<div class="login-form">
    <form #loginForm="ngForm" (ngSubmit)="getLogin(loginForm)">
        
        <div>
            <label for="login">user name:</label>
            <input login="login" id="login" ngModel />
            <input
            class="form-check-input"
            type="submit"
            value="{{login.userName}}"
            name="userName"
            ngModel
            />
        </div>
        
        <div>
            <label for="login">password:</label>
            <input login="login" id="login" ngModel />
            <input
            class="form-check-input"
            type="submit"
            value="{{login.password}}"
            name="password"
            ngModel
            />
        </div>
        <!-- <div class="form-check" *ngFor="let login of login"> -->

        <!-- </div> -->
        
    </form>
</div>
<!-- <a [routerLink]="['/rank',login.userName]">Goals</a> -->
