<p>user works!</p>


<table>
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>ApedID</th>
        <th>User Name</th>
        <th>Date</th>
        <th>Rank Score</th>
        <th>Rank Name</th>
        <th>Banner</th>
    </tr>
    <tr *ngFor="let stats of UserStats1">
        <td>{{stats.id}}</td>

    </tr>
</table>


<div>
    <div >
        <h3>{{UserStats.Id}}</h3>
        <!-- <h5>{{UserStat.UserID}}</h5>
        <p>{{UserStat.ApexID}}</p>
        <p>{{UserStat.UserName}}</p>
        <p>{{UserStat.Date}}</p>
        <p>{{UserStat.RankSore}}</p>
        <p>{{UserStat.RankName}}</p>
        <p>{{UserStat.Banner}}</p> -->
    </div>
</div>

