<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="user.component.css">
</head>
<body>
    <div class="user-page">
        <div class="user-header"> -->
<body>
    <div>
        <canvas id="canvas" width="400" height="50">{{chart}}</canvas>
    </div>
<table>
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>ApedID</th>
        <th>User Name</th>
        <th>Date</th>
        <th>Rank Score</th>
        <th>Rank Name</th>
        <th>Banner</th>
    </tr>
    <tr *ngFor="let stats of UserStats1.allCurrentStats">
        <td>{{stats.id}}</td>
        <td>{{stats.userID}}</td>
        <td>{{stats.apexID}}</td>
        <td>{{stats.userName}}</td>
        <td>{{stats.date}}</td>
        <td>{{stats.rankSore}}</td>
        <td>{{stats.rankName}}</td>
        <td>{{stats.banner}}</td>

    </tr>
</table>

<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button">Log stats</button>
  </div>

  <!-- Not having a rank record is causing issues - Fix if you can.  -->

<!-- <app-rank></app-rank> -->

</body>
        <!-- </div>
    </div>
</body>
</html> -->

