<!-- <nav class="navbar">
  <a class="nav-item nav-link" routerLink="/login" 
  routerLinkActive="active">Login</a>
  <a class="nav-item nav-link" routerLink="/user" 
  routerLinkActive="active">User Stats</a>
</nav> -->

<router-outlet></router-outlet>

<nav class="navbar">
  <a class="nav-item nav-link" routerLink="/login" 
  routerLinkActive="active">Login</a>
  <a class="nav-item nav-link" routerLink="/user" 
  routerLinkActive="active">User Stats</a>
</nav>

<router-outlet></router-outlet>
