<h1>Create New Account</h1>
<div>
    <form name="createForm" #createForm="ngForm" (ngSubmit)="createUser(createForm)">
            <label for="UserName">username:</label>
            <input type="text" class="form-control" id="UserName" placeholder="Enter username" name="UserName" ngModel required/>
            <br>

            <label for="Password">password:</label>
            <input type="text" class="form-control" id="Password" placeholder="Enter password" name="Password" ngModel required/>
            <br>

            <label for="ApexID">ApexID:</label>
            <input type="text" class="form-control" id="ApexID" placeholder="Enter ApexID" name="ApexID" ngModel required/>
            <br>

            <button type="submit" class="btn btn-primary">Create User </button>
    </form>
</div>
