<!DOCTYPE html>
<html>
<head>
  
</head>
<body>

<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">Create Account</span>
          </div>

          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form name="createForm" #createForm="ngForm" (ngSubmit)="createUser(createForm)" style="width: 23rem;">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
  
              <div class="form-outline mb-4">
                <input type="text" id="UserNameTextBox" placeholder="Enter username" name="UserName" class="form-control form-control-lg" ngModel required />
                <label class="form-label" for="UserName">Username</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="PasswordTextBox" name="Password" placeholder="Enter password" class="form-control form-control-lg" ngModel required />
                <label class="form-label" for="Password">Password</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="text" id="ApexID" placeholder="Enter ApexID" name="ApexID" class="form-control form-control-lg" ngModel required />
                <label class="form-label" for="ApexID">Apex ID</label>
              </div>

              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit">Create</button>
              </div>
  
            </form>
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://images.ctfassets.net/r5o0jpcspr8j/1tGugwUeJOKn2deNvy6KPC/869e8cf7898111b89668d985219ddde6/intro.png"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>



</body>
</html>



<!-- <div class="account-creation" style="top: 50%; position: absolute; left: 43%; font-size: x-large; color: white;">

    <h1>Create Account</h1>
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>

    <div>
        
        <form name="createForm" #createForm="ngForm" (ngSubmit)="createUser(createForm)" style="position: fixed;">
                <label for="UserName" >username:</label>
                
                <input type="text" class="form-control" id="UserName" placeholder="Enter username" name="UserName" ngModel required/>
                <br>

                <label for="Password" >password:</label>
                <input type="text" class="form-control" id="Password" placeholder="Enter password" name="Password" ngModel required/>
                <br>

                <label for="ApexID" >ApexID:</label>
                <input type="text" class="form-control" id="ApexID" placeholder="Enter ApexID" name="ApexID" ngModel required/>
                <br>

                <button type="submit" class="btn btn-primary">Create User </button>
        </form>
    </div>
    </body>
    </html>
</div> -->

