<h1>Rank Goals for {{userName}}</h1>
<!-- <div *ngFor="let goal of rank">
    <span>
        {{goal.userName}}:
        <li>Rank Wanted: {{goal.rankName}}</li>
        <li>Score Wanted: {{goal.rankScore}}</li>

    </span>
    <br>        
    <div>
        <button (click)="deleteGoal(rank.id)">Delete</button>
    </div>
</div> -->

<table>
  <tr>
      <th>Rank Score</th>
      <th>Rank Name</th>
  </tr>
  <tr>
      <td>{{rank.rankScore}}</td>
      <td>{{rank.rankName}}</td>

  </tr>
</table>

<!-- <div>
    <form #goalForm="ngForm" (ngSubmit)="createGoal(goalForm)">
      <label for="rankScore">Score Goal:</label>
      <input rankScore="rankScore" id="rankScore" ngModel />
      <label for="rankName">Rank Goal:</label>
      <input rankName="rankName" id="rankName" ngModel />
      <div>
        <button>Add Goal</button>
      </div>
    </form>
  </div> -->

  <h1>Add your goal here!</h1>
<div class="login-form">
    <form #loginForm="ngForm" (ngSubmit)="createGoal(loginForm)">
        <label for="rankScore">rankScore:</label>
        <input type="number" class="form-control" id="rankScoreTextBox" placeholder="Enter rank score" name="rankScore" ngModel required/>
        <br>

        <label for="rankName">rankName</label>
        <input type="text" class="form-control" id="rankNameTextBox" placeholder="Enter rank name" name="rankName" ngModel required/>
        <br>

        <input type="submit">
    </form>   
</div>
