<h1>Rank Goals for {{userName}}</h1>
<!-- <div *ngFor="let goal of rank">
    <span>
        {{goal.userName}}:
        <li>Rank Wanted: {{goal.rankName}}</li>
        <li>Score Wanted: {{goal.rankScore}}</li>

    </span>
    <br>        
    <div>
        <button (click)="deleteGoal(rank.id)">Delete</button>
    </div>
</div> -->

<table>
  <tr>
      <th>Rank Score</th>
      <th>Rank Name</th>
  </tr>
  <tr>
      <td>{{rank.rankScore}}</td>
      <td>{{rank.rankName}}</td>

  </tr>
</table>

<div>
    <form #goalForm="ngForm" (ngSubmit)="createGoal(goalForm)">
      <label for="rankScore">Score Goal:</label>
      <input rankScore="rankScore" id="rankScore" ngModel />
      <label for="rankName">Rank Goal:</label>
      <input rankName="rankName" id="rankName" ngModel />
      <div>
        <button>Add Goal</button>
      </div>
    </form>
  </div>
